<p>You are in {{ servername }}, The Server ID is {{ serverid }} and {{ getServerOwner() }}</p>
<button class = "btn btn-primary" [disabled] = '!allowNewServer' (click)="onRandomServer()">Random Server</button>
<input type = "text" class = "form-control" (input)="onInputServer($event)" >
<input type = "number" class = "form-control" [(ngModel)] = "serverid" >
<input type = "text" class = "form-control" [(ngModel)]="newservername">
<button (click)="onCreateNewServer()">Create New Server</button>
<p>{{createserverstatus}} name is {{newservername}}</p>


<p *ngIf ="oddserver; else evenserver">Show me if server id is odd</p>
<ng-template #evenserver> <p>Show me if server id is Even</p></ng-template>

<p *ngIf ="canshow; else noshow" [ngStyle]="{backgroundColor: getColor()}">You found me</p>
<ng-template #noshow > <p [ngStyle]="{backgroundColor: getColor()}"> I am hiding, try find me.</p></ng-template>
<button (click)="onShowme()">Show!</button>
<button (click)="onHide()">Hide!</button>

<button (click)="onAddRandomServer()">Add Random Server</button>
<p *ngFor = "let server of servers"> {{server}} </p>